<div class="container centered">
    <h2 class="centered-title">EDITING PREFERENCE</h2>
    <%= link_to '← BACK', preferences_path, class: "link-to-design", style: "text-decoration: none" %>  <span style="font-size: 30px">•</span>
    <%= link_to 'SHOW', @preference , class: "link-to-design ", style: "text-decoration: none" %> 
    
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 centered-body">
            <%= render 'form' %>
            <br>
        </div>
    </div>
</div>



