<p id="notice"><%= notice %></p>

<div class="container centered">
    <h2 class="centered centered-title">PRERFERENCE SHOW</h2>
    <%= link_to '← BACK', preferences_path, class: "link-to-design", style: "text-decoration: none" %> <span style="font-size: 30px">•</span>
    <%= link_to 'EDIT', edit_preference_path(@preference) , class: "link-to-design", style: "text-decoration: none" %> 
</div>

<h2 class="centered centered-title"><%= @preference.name%></h2> 
<br>
<br>

<div class="container centered">
    
</div>


