<div class="container centered">
    <h2 class="centered centered-title">CREATE A NEW POST</h2>
    <h5 class="centered"> develop your own specialized post and share with others</h5>
    <%= link_to 'â† BACK', posts_path, class: "link-to-design", style: "text-decoration: none" %>
</div>
            
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 centered-body">
                <%= render 'form' %>
                <br>

            </div>
        </div>
    </div>

