<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<div style="display:inline-block;vertical-align:top;">
						
   					    
   					    <a href="/" style="text-decoration: none"><span style="font-size: 20px; color: black">COOP</span><img src="../assets/here.png" alt=""  style="weight:90px; height: 100px"/><span style="font-size: 20px; color: black">R&ampS</span> </a> 
   					    <br>
					</div>
					
	            	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	          	    </button>
	       		</div>

		        <!-- Collect the nav links, forms, and other content for toggling -->
		        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		        	<ul class="nav navbar-nav navbar-left">
		        		<li>
						 <%= yield :mLogin %>
						</li>
		        	</ul>
		            <ul class="nav navbar-nav navbar-right">
						<li>
							<%= yield :mFrame %>
						</li>
					</ul>
		        </div>
	    	</div>
		</nav>